*{
    margin :0px;
    padding:0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url(https://th.bing.com/th/id/OIP.kKX-iDzGEJRkkgGiW7sGqQHaEK?pid=ImgDet&rs=1);
    background-repeat: repeat;
}
#navbar{
    display:flex;
    align-items: center;
    position:sticky;
    top: 0px;
}
#navbar::before{
content:"";
background-color: rgb(18, 17, 17);   
position:absolute;
top:0px;
left:0px; 
height:100%;
width:100%;
z-index:-1;
}
#navbar ul{
    display:flex;
    flex-wrap: wrap;
    list-style: none;  
}
#navbar ul li a{
    display:block;
    color:white;
    font-size: 2rem;
    padding : 1rem 3rem;
    text-decoration: none;
}
#navbar ul li a:hover{
color:rgb(132, 42, 236);
}
#logo{
    margin: 1rem 3.4rem;
}
#logo img{
    height:6rem;
    width: 21rem;
    margin: 0.3rem 0.6rem;
}
.image{
    display:flex;
    flex-wrap: wrap;
    background-color: black;
    padding: 2rem 2rem;
    height:30rem;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 5rem;
    color: rgb(255, 253, 253);
    background-color: black;
    padding:2rem;
    text-align: center; 
}
.image img{
    height: 22rem;
    width: 20rem;
    border-radius: 2rem;
}
.about{
    display:flex;
    color: aliceblue;
    background-color: black;
    flex-direction:column;
    flex-wrap: wrap;
}
.abouts{
    margin: 2rem;
    font-size: 1.6rem;
}
#skill{
    display:flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    margin:0rem;
}
#skill .box{
   border:2px solid rgb(9, 4, 4);
    margin:1rem;
    padding:1rem;
} 
#skill .box img{
    height:17rem;
    display:block;
    margin:auto;
}
.paras{
    font-size:1.5rem;
    color: rgb(255, 255, 255);
    text-align: center;
}
h2{
    padding:1rem;
    color: rgb(255, 231, 205);
    font-size:2rem;
    text-align: center;
}
.contact{
    position:relative;
    margin-top:1rem;
    background-color: rgb(13, 5, 5);
    height:60 rem;
}
.contact::before{
    content:"";
    background-color: rgb(34, 32, 32);   
    position:absolute;
    width:100%;
    height: 100%; 
    z-index:-1;
}
.contact h1{
    color:white;
}
.boxes img{
    height:8rem;
    border-radius:2rem;
}
.message input{
    width:93%;
    padding:1rem;
    margin: 1rem;
    border-radius: 0.5rem;
}
.message{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:3.4rem;  
}
.message form{
    width:40%;
}
#cont{
    display:flex;
    justify-content: center;
    align-items: center;
}
.boxes{
    padding:3rem;
}
.copyright{
    text-align: center;
    font-size: 1.5rem;
    color:white;
    background-color: black;
    padding:1rem;
}
input[type='submit']{
   margin-left:35%;
   width:30%;
}
input[type='reset']{
    margin-left:35%;
    width:30%;
 }
@media screen and (max-width:1024px){
   #skill{
    flex-direction:column;
   }
   .image{
    flex-direction:column;
    height:22.5rem;
    padding:7rem;
   }
   .img p{
    font-size:1rem;
    padding:2rem;
   }
   #cont{
    flex-wrap: wrap;
   }
   .boxes img{
    height:4rem;
   }
   #navbar{
    flex-direction: column;
   }
   #navbar ul li a{
    font-size:2rem;
    padding : 1rem 1rem;
   }
   .message form{
    width:70% ;
}
#skill .box{
     margin:2rem;
     padding:2rem;
 } 
 .image img{
    height: 35rem;
    width: 22rem;
}
}
@media screen and (max-width:450px){
input[type='submit']{
    color: rgb(0, 0, 0);
    margin-left:42%;
    width:4rem;
 }
 input[type='reset']{
    color: rgb(0, 0, 0);
    margin-left:42%;
    width:4rem;
 }
 .image img{
    height: 24rem;
    width: 16rem;
}
}
@media screen and (max-width:375px){
    .about{
        display:flex;
        color: aliceblue;
        background-color: black;
        flex-direction:column;
        flex-wrap: wrap;
    }
    .abouts{
        margin: 1rem;
        font-size: 0.8rem;
    }
    #abouts{
        font-size: 2rem;
    }
    #skills{
        font-size: 2rem;
    }
    h2{
        font-size: 2rem;
    }
    .paras{
        font-size: 1rem;
    }
    #contacts{
        font-size: 2rem;
    }
    input[type='submit']{
        margin-left:42%;
        width:4rem;
     }
     input[type='reset']{
        margin-left:42%;
        width:4rem;
     }
     .image img{
        height: 16rem;
        width: 9rem;
    }
    }